<% layout("../layouts/boilerplate") %>
<body>
  <br /><br />
  <h1>Add a new Listing</h1>
  <div class="row">
    <div class="col col-8">
      <form action="/listings" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title of Place:</label>
          <input
            type="text"
            id="title"
            placeholder="Enter a good title"
            name="listing[title]"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label"
            >Describe what you provide:</label
          >
          <textarea
            type="text"
            id="desc"
            placeholder="Give brief description to express all your listing"
            name="listing[description]"
            class="form-control"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="img" class="form-label"
            >Provide a valid image link:</label
          >
          <input
            type="text"
            id="img"
            placeholder="paste image link here"
            name="listing[image]"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input
              type="number"
              id="price"
              placeholder="1200"
              name="listing[price]"
              class="form-control"
            />
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              id="country"
              placeholder="Pakistan"
              name="listing[country]"
              class="form-control"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            id="location"
            placeholder="Karachi , Sindh"
            name="listing[location]"
            class="form-control"
          />
        </div>
        <br /><br />
        <button class="btn btn-dark add-btn">Submit</button>
      </form>
    </div>
  </div>
</body>
