<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
     <h2>All listings</h2>
    <% for (let i=0;i<listings.length;i++) { %>
       <ul>
        <li><a href="/listings/<%=listings[i]._id %>"><%=listings[i].title%></a></li>
       </ul>
  <%  } %>
  <form action="/listings/new" method="get">
    <button>New</button>
  </form>
  </body>
</html>
